*.Rproj
*.dbf
*.csv
.Rproj.user/
.Rproj.user
ECCA2018_extortion_report_cache/
ECCA2018_extortion_report_files/
tests/
*.RData
*.Rhistory
cache/
releases/
cluster_logit.do
drafts/
enve_nona.dta
results/
